<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <form id="loginForm">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>
        $("#loginForm").submit(function (e) {
            e.preventDefault();

            const email = $("#email").val();
            const password = $("#password").val();


            $.ajax({
                url: '/login',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({ email, password }),
                xhrFields: { withCredentials: true },
                success: function (response) {
                    console.log(response);

                    // alert(response.message)
                    if (response.redirect) {
                        window.location.replace(response.redirect);

                    }
                },

                error: function (xhr) {
                    const errMsg = xhr.responseJSON?.message || "Something went wrong";
                    alert(errMsg);
                    console.error(errMsg);
                }


            })
        })
    </script>

</body>

</html>